@font-face{
    font-family:RUNE;
    src:url(RUNEnglish\ 2.ttf)   
}
@font-face{
    font-family:stencil;
    src:url(Capture\ it.ttf)
}

body{
    background:-webkit-linear-gradient(top right,#008080,black);
    background:-moz-linear-gradient(top right,#008080,black);
    background:-o-linear-gradient(top right,#008080,black);
    text-align:center;
    cursor:url(cursor.cur), default;
}
label{
    display:block;
}
input{
    margin:5px;
}
p{
    font-size:large;
}
ul{
    list-style-image:url(horn.gif);
    list-style-position:inside;
    text-align:left;
}
a:hover{
    color:greenyellow;
}

.table-colored{
    color: greenyellow;
    empty-cells:hide;
    border-color:red;
    background-image:url(https://i.pinimg.com/originals/22/f0/a1/22f0a14ce9eff725694f8849504bbe9c.jpg);
    background-position-y: center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    box-shadow:5px 5px 5px 5px black,
    inset 100px 200px 5px rgba(0, 0, 0, 0.5);
}
.headline{
    color:black;
    background-color:rgba(255, 0, 0, 0.6);
    padding:5px;
    font-family:RUNE;
}
.quote{
    font-size:x-large;
    font-style:italic;
    font-weight:bold;
    text-shadow:5px 5px 4px #008080;
}
.suround{
    text-decoration:underline overline;
    color:greenyellow;
    font-weight:bold;
}
.vader{
    height:5cm;
    width:5cm;
    background-image:url(https://i.imgur.com/HubiZBp.jpg);
    transform:scaleX(-1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:60%;
    border-radius:50%;
    border:solid;
    border-color:red;
    position:fixed;
    bottom:0.5cm;
    right:0.5cm;
    overflow:hidden;
}
.text_vader{
    position:relative;
    transform:scaleX(-1);
    bottom: -2cm;
    font-family:stencil;
    font-size: 170%;
    vertical-align: bottom;
    color:red;
    background:rgba(0, 0, 0, 0.6);
}

#intro{
    background-image:url(https://i.pinimg.com/originals/22/f0/a1/22f0a14ce9eff725694f8849504bbe9c.jpg);
    background-position-y: center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:red;
    border: 5px red double;
    padding: 5px;
    border-radius:0px 0px 20px 20px;
}
#outro{
    background-image:url(https://i.pinimg.com/originals/22/f0/a1/22f0a14ce9eff725694f8849504bbe9c.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position-y:bottom;
    color:red;
    border: 5px red double;
    padding: 5px;
    border-radius:20px 20px 0px 0px;
}